@use '/src/styles/constants/colors';

.todoForm {
  background-color: colors.$WHITE;
  display: flex;
  flex-direction: column;
  margin-left: 0px;
  padding: 30px;
  margin: 20px;
}
.todoInput {
  margin-top: 40px;
  margin-bottom: 40px;
  color: colors.$GRAYD;
}

.datePickerBtn {
  width: 90px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid colors.$GRAYD;
  border-radius: 20px;
  padding: 15px;
  background-color: colors.$WHITE;
  color: colors.$GRAYA;
  svg {
    fill: colors.$GRAYA;
    width: 15px;
    height: 15px;
    margin-right: 10px;
  }
}
