@use '/src/styles/constants/colors';

.addForm {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .addInput {
        padding: 10px;
        margin: 20px 0;
      }
      .datePickButton {
        width: 100px;
        height: 40px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 1px solid colors.$GRAYD;
        border-radius: 20px;
        padding: 15px;
        margin: 10px;
        background-color: colors.$WHITE;
        color: colors.$GRAYA;
        .calendarIcon {
          fill: colors.$GRAYA;
          width: 15px;
          height: 15px;
          margin-right: 10px;
        }
      }
    // .datePicker {
    //     background-color: lightblue;
    //     width: 45%;
    //     padding: 10px;
    //     margin-top: 20px;
    // }
}

.footerButton {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

