@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

h1 {
  font-size: 32px;
  font-weight: 600;
  color: colors.$BIG_TITLE;
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 100%;
  overflow: scroll;
}
