@use '/src/styles/constants/sizes';
@use '/src/styles/constants/colors';

.container {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
  height: sizes.$HEADER_HEIGHT;
}

.inputContainer {
  display: flex;
  flex-grow: 1;
  align-items: center;
  height: 30px;
  padding: 0.7rem 1rem;
  background-color: colors.$GRAYE;
  border-radius: 5px;
}

.input {
  all: unset;
  flex-grow: 1;
  color: colors.$BLACK;
  background-color: inherit;

  ::placeholder {
    color: colors.$GRAY2;
  }
}

.button {
  width: 25px;
  height: 25px;
}
