.addTodoPage {
  position: relative;
  display: flex;
  justify-content: center;
  width: 360px;
  height: 720px;
  background-color: #fafbfe;
  border-radius: 60px;
  position: relative;
  .xbutton {
    align-items: center;
    position: absolute;
    top: 50px;
    right: 40px;
  }
}
