@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.closeButton {
  width: 60px;
  height: 60px;
  border: 1px solid colors.$GRAYD;
  border-radius: 50%;
  transition: 0.2s;
}
